---
import { Image } from "astro:assets";
const { title, url, tags, hero, summary, description } = Astro.props;
---

<article>
  <div class="grid">
    <div class="image-main">
      <Image src={hero} alt={title} width="1000" height="1000" />
    </div>
    <div class="text-block">
      <h2>{title}</h2>
      <h4>{description}</h4>
      <p>{summary}</p>
      <a href={url} role="button" class="outline">Read Article</a>
    </div>
  </div>
</article>
<style>
  article {
    padding-left: 0%;
    padding-right: 0%;
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .image-main {
    grid-column: 1/4;
    margin-bottom: 2em;
    & img {
      width: 100%;
      /* border-radius: 5px 5px 3px 3px;
      border: 3px solid #d8d8d8;
      border-top: 10px solid #d8d8d8; */
    }
  }

  .image-main {
    grid-row: 1/2;
  }
  .text-block {
    grid-column: 4/7;
    padding: 0 1em;
  }
  @media screen and (max-width: 768px) {
    .grid {
      display: block;
    }
  }
</style>
